<html>
<head>
</head>
<body>
<form action="/Add_or_Delete" method="POST">
	<h1>Add a friend to the friendgroup</h1>

	<label for="group">GroupName</label>
	<input id='group' type="text" name="groupname" placeholder="Select a group" required/></br>


	<label for="friend">Friend</label>
	<input id='friend' type="text" name="friendname" placeholder="Type a username" required/></br>
	
	<input type="submit" name='Add' value = Add />
	<input type="submit" name='Delete' value = Delete />
</form>

<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>

<a href="/home">Go back to homepage</a>




</body>



