<html>
<head>
</head>
<body>

<h1>Pending Tags</h1>
<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>

Here are the tag requests by other users:

<table>
	<th>pID</th>
	<th>postingDate</th>
	<th>poster's first name</th>
	<th>poster's last name</th>
	<th>link</th>

{% for line in posts %}
	<tr>
		<td>{{line.pID}}</td>
		<td>{{line.postingDate}}</td>
		<td>{{line.firstName}}</td>
		<td>{{line.lastName}}</td>
		<td><a href = "{{line.filePath}}"> LINK</td>
	</tr>
{% endfor %}
</table>

<h2>Tag a photo</h2>
<form action="/handle_tag_request" enctype="multipart/form-data" method="POST">
	Photo ID
	<select name = "pID">
		{% for line in posts %}
			<option value = '{{line.pID}}' />{{line.pID}}</option>
	 	{% endfor %}
	</select>
	</br>
	Action
	<select name = "action">
		<option value = 'Accept' />Accept</option>
		<option value = 'Decline' />Decline</option>
	</select>
	</br>
	<input type="submit" value = Submit />
</form>

<a href="/home">Home</a>
</br>
<a href="/manage_tag">Goback</a>
</br>
{% for message in get_flashed_messages() %}
        {{ message }}
    {% endfor %}


</body>


</html>